.live {
    font-family: 'FONTSPRING DEMO - Artico Medium';
    font-style: normal;
    /* font-weight: 400; */
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;

    background-color: #FF1E1F;
    color: white;
    padding: 5px 42px 5px 42px;
    border-radius: 30px;
}



.livetv {
    font-weight: 400;
    font-size: 24px;
    color: rgb(0, 0, 0);
}

.livename {
    color: rgb(0, 0, 0);

}