.Showslider{
margin: 0 5%;

}



.item{
   min-height: 10rem;
 min-width: 10rem;
  padding: 10px;
  }

.item img{
  width: 100%;
  pointer-events: none;

}
  
  .inner-carousel{
    display: flex;

   
  }

  .carousel{
    cursor: grab;
    overflow: hidden;
    
  }