.EpisodeSeason{
    margin: 0 2%;

    
}
.EpisodeSeason-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start ;
    align-items: stretch;
    align-content: flex-start;
  }
  

 

  

  .style-1 .paginationUL .pageItem .pageButton {
    margin-left: 5px;
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 30px;
    background-color:transparent;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.style-1  {

padding-bottom: 50px;

}

.style-1 .paginationUL .pageItem .pageButton:hover {
    background-color: #cccccc;
    color: #f6f1f1;
    fill: #f1f2f6;
}

.style-1 .paginationUL .pageItem .activeButton {
    background: #2C2C2C;
    color: #f1f2f6;
}

.dropdown{
  margin-left: 10px;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .EpisodeSeason{
    margin: 0 6%;

    
}
  
}