

.Watchbtn_2{
    margin-top: 5px;
   color: white;
   font-size: 13px;
    font-weight: 400;
    text-align: center;
    background: #FF0001;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

